#main-network, #borders {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	border: 1px solid lightgray;
}

#main-network {
	z-index: 50;
	right: 70px;
}

#instructions {
	z-index: 100;
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 14pt;
	font-family: Calibri;
	user-select: none;
}

/* Options menu */

#options-menu {
	display: block;
	position: fixed;
	text-align: center;
	bottom: 0;
	left: 0;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1.5px solid black;
	z-index: 199;
	font-size: 18px;
}

#options-menu #header{
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 8px;
	text-decoration: underline;
}

#options-menu span, #options-menu button {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
    margin-right: auto;
}

#scale, #interval {
	text-align: center;
}

#scale button, #scale span, #interval span{
	display: inline;
}

#options-menu #margin {
	width: 190px;
}

/* Loading screen */

#loading-screen {
	z-index: 200;
	position: fixed;
	padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.91);
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#loading-screen div {
	position: relative;
	float: center;
	top: 43%;
}

#loading-screen span {
	font-size: 40pt;
	font-family: Calibri;
	user-select: none;
}


/* Blue button */


.btn {
	position: relative;
	float: center;
	left: 43%;
	max-width: 7%;
	cursor: pointer;
	border-radius: 7px;
	text-decoration: none;
	padding: 0.5% 2.6%;
	font-family: Calibri, Verdana;
	font-size: 28pt;
	transition: .3s;
	margin-top: -5px;
	margin-left: 13px;
	margin-right: 13px;
	color: #55acee;
	white-space: nowrap;
	border: 1.4px #55acee solid;
}


.btn:hover {
	background-color: #55acee;
	color: #fff;
}
